---
layout: default
---

<div class="container-fluid index-container">
    {%- assign posts = site.posts -%}
    <div class="row">
        {%- for post in posts -%}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm project-card">
                <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
                {%- if post.title-image -%}
                {%- assign title_img_file = site.static_files | where: "name", post.title-image -%}
                {%- if title_img_file.size>0 -%}
                <a href=" {{ post.permalink }} ">
                    <img class="card-img-top" src=" {{ title_img_file[0].path }} " alt="Card image cap">
                </a> {%- endif -%} {%- endif -%}
                <div class="card-body">
                    <a href=" {{ post.permalink }} ">
                        <h5 class="card-title"> {{ post.title }} </h5>
                    </a>
                    <p class="card-text"> {{ post.description }} </p>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>